PRD.md
PRD.Md
task-implementation.md
Tugas-1.md
Tugas_2.docx
tugas2.md
tugas3.md
pengujian-aplikasi.pdf
tugas3_pengujian.docx
tugas3_pengujian.html
tugas3_pengujian.odt

node_modules
.next
out

.env
.env*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
